﻿<!-- chords panel -->
<div id="songPnl" class="margTop10">
    <div class="row">
        <div class="col-xs-3 chord" ng-repeat="x in [0,1,2,3]">
            <div ng-class="{selected: ((metronome.bar-1) % 8 == x)}" ng-click="editChord(x)">
                {{getKey(chords[x]).substr(0,1)}}
            </div>
            <span class="sub">{{addSpaces(getQuality(chords[x])) }} </span>
            <span class="sup">{{getKey(chords[x]).substr(1)}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 chord" ng-repeat="x in [4,5,6,7]">
            <div ng-class="{selected: ((metronome.bar-1) % 8 == x)}" ng-click="editChord(x)">
                {{getKey(chords[x]).substr(0,1)}}
            </div>
            <span class="sub">{{addSpaces(getQuality(chords[x]))}} </span>
            <span class="sup">{{getKey(chords[x]).substr(1)}} </span>
        </div>
    </div>
</div>


<!--Metronome-->
<div class="row padTB10">
    <div class="col-xs-3 padR5">
        <div ng-class="metronome.position == 0 ? 'red' : 'red-off'" class="met-block"></div>
    </div>
    <div class="col-xs-3 padRL5">
        <div ng-class="metronome.position == 1 ? 'red' : 'red-off'" class="met-block"></div>
    </div>
    <div class="col-xs-3 padRL5">
        <div ng-class="metronome.position == 2 ? 'red' : 'red-off'" class="met-block"></div>
    </div>
    <div class="col-xs-3 padL5">
        <div ng-class="metronome.position == 3 ? 'red' : 'red-off'" class="met-block"></div>
    </div>
</div>

<!-- buttons -->
<div class="row">
    <div class="col-xs-1 col-xs-offset-9"><button ng-click="openSave()" ng-show="loggedIn" class="miniBtn"><i class="fa fa-floppy-o save-icon"></i></button></div>
    <div class="col-xs-1"><button ng-click="openTrackList()" ng-show="loggedIn" class="miniBtn"><i class="fa fa-th-list save-icon"></i></button></div>
</div>

<!-- save popup -->
<div class="large-popup-frame" id="trackPnl" ng-show="isSaveOpen">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-10"><button id="closeBtn" class="miniBtn"><i class="fa fa-times" aria-hidden="true" ng-click="isSaveOpen = false"></i></button></div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <input type="radio" name="saveSelection" checked="checked" ng-model="trackSelection" value="new" />
        </div>
        <div class="col-xs-10">
            <label>name</label>
            <input type="text" class="input-text" ng-model="track.name" ng-disabled="trackSelection !== 'new'" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <input type="radio" name="saveSelection" value="overwrite" ng-model="trackSelection" />
        </div>
        <div class="col-xs-10">
            <label>overwrite existing</label>
            <div id="trackSelect">
                <select ng-disabled="trackSelection === 'new'" ng-model="existingTrackSelected">
                    <option ng-repeat="track in tracks" name="" value="{{track.id}}">{{track.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btnOk col-xs-12">
            <button class="button" ng-click="save()">save</button>
        </div>
    </div>
</div>

<!-- confirm delete -->
<div class="popup-frame delete-popup" ng-show="isDeleteConfirmationOpen">
    <div class="row">
        <div class="col-md-12">
            <h3>are you sure?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="btnOk">
                <button class="button" ng-click="deleteSelectedTrack()">yes</button>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="btnOk">
                <button class="button" ng-click="isDeleteConfirmationOpen = false">no</button>
            </div>
        </div>
    </div>
</div>

<!-- track list -->
<div class="large-popup-frame" id="trackListPnl" ng-show="isTrackListOpen">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-10"><button id="closeBtn" class="miniBtn"><i class="fa fa-times" aria-hidden="true" ng-click="isTrackListOpen=false"></i></button></div>
    </div>
    <div class="row" ng-show="tracks.length === 0">
        <div class="col-xs-12">
            <h2> empty track list</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row list-element" ng-repeat="track in tracks">
                <div class="col-xs-10">
                    <p ng-click="loadTrack(track.id)">{{track.name}}</p>
                </div>
                <div class="col-xs-2"><button class="miniBtn" ng-click="confirmDeletion(track.id)"><i class="fa fa-trash"></i></button></div>
            </div>
        </div>

    </div>
</div>

<!--tempo -->
<tempopanel tempo="metronome.tempo" decrease-tempo="decreaseTempo" increase-tempo="increaseTempo" change-tempo="changeTempo" close-tempo-popup="closeTempoPopup" tempo-popup="metronome.tempoPopup"></tempopanel>

<!-- start button -->
<startbutton text="mButton" func="startStop"></startbutton>

<!-- Feedback link -->
<feedbacklink isvisible="feedback_visible"></feedbacklink>

<!--Loader-->
<loader loading="isLoading"></loader>

<!--Chords popup-->
<chordpopup is-chord-open="isChordOpen" keys="keys" key-selected="keySelected" qualities="qualities" quality-selected="qualitySelected" click-ok="closeChordPopup"></chordpopup>

