﻿$background-color: #151515;
$theme-red: #D91F26;
$theme-red-dark: #B7181E;
$theme-lightgrey: rgba(194, 194, 194, 0.1);
$popup-background: #3A3A3A;
$theme-white: white;

@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Regular.otf);
}

@font-face {
    font-family: Dosis-bold;
    src: url(../fonts/Dosis-Bold.otf);
}

@font-face {
    font-family: Josefin;
    src: url(../fonts/Josefin/JosefinSans-Light.ttf);
}

@font-face {
    font-family: Josefin-bold;
    src: url(../fonts/Josefin/JosefinSans-Bold.ttf);
}

html,
body {
    height: 100%;
    /*font-family: Josefin,serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #e8e8e8;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

h2 {
    font-size: 22px;
    text-align: justify;
}

#content {
    padding: 0 0px 0 0px;
}

#home-content {
    color: white;
}

#register-content {
    color: white;
}

.wrapper {
    min-height: 100%;
    /*background-color: #2B2B2B;*/
    background-image: url(../img/background.jpg);
    background-position: center center;
    max-width: 768px;
    position: relative;
}

.wrapper .beta-img {
    position: absolute;
    right: 0;
}

.wrapper .logoContainer {
    text-align: center;
    padding-top: 5px;
}

.wrapper .main-logo-container {
    text-align: center;
    padding-top: 5px;
    margin-top: 30px;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

.bigSelect {
    font-size: 40px;
    width: 100%;
}

.bigTextbox {
    font-size: 40px;
    width: 100%;
}

.sub {
    font-size: 25%;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.sup {
    font-size: 50%;
    position: absolute;
    top: 0;
    left: 70px;
}


.imgLogo {
    width: 100%;
}


/**** HEADER *****/
header#mainHeader div.row {
    background-color: $background-color;
}

header div.logoContainer {
    background-color: $background-color;
    color: white;
    min-height: 60px;
}

.head-title {
}

.spacer {
    background-color: #E7E7E7;
    min-height: 1px;
}


/* BUTTON */

button:focus {
    outline: 0;
}

.button {
    width: 100%;
    font-size: 16px;
    background: $theme-red;
    color: #ffffff;
    margin: 15px 0 0 0;
    padding: 10px 20px 10px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid $theme-red-dark 5px;
    text-decoration: none;
}

.button:active {
    background: #1F1F1F;
    text-decoration: none;
}

/**** MAIN PANEL *****/
.main-panel {
    color: white;
    padding-top: 20px;
    font-size: 15px;
}

.main-panel label {
    font-size: 18px;
}

/**** GENERAL RULES *****/

.padR5 {
    padding-right: 5px;
}

.padL5 {
    padding-left: 5px;
}

.padRL5 {
    padding-right: 5px;
    padding-left: 5px;
}

.padRL10 {
    padding-right: 10px;
    padding-left: 10px;
}

.padTB5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.margTop10 {
    margin-top: 10px;
}

.fLeft {
    float: left;
}

.input-text {
    margin-bottom: 15px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    background-color: $theme-lightgrey;
    border: none;
}

input[type="email"].ng-invalid.ng-touched,
input[type="password"].ng-invalid.ng-touched,
form.ng-submitted input[type="email"].ng-invalid,
form.ng-submitted input[type="password"].ng-invalid,
textarea.ng-invalid.ng-touched,
form.ng-submitted textarea.ng-invalid {
    border: 1px solid $theme-red;
}

textarea {
    width: 100%;
    background-color: $theme-lightgrey;
    border: none;
    min-height: 220px;
}

.error-txt {
    color: $theme-red;
}

.head-title {
    margin-bottom: 25px;
}


/****** LOADER *****/

.loader-frame {
    background-color: #cdcdcd;
    background-color: rgba(205, 205, 205, 0);
    height: 150px;
    width: 120px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -60px;
    z-index: 3;
}

.loader-frame .img {
    margin: 10px auto 0 auto;
    display: block;
}

.loader-frame .txtPnl {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.loader-frame .txtPnl .txtLbl {
    display: block;
    text-align: center;
    color: white;
}

.met-cnt {
    padding-right: 5px;
    padding-left: 5px;
}

.met-block {
    height: 50px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}


/*** SHUFFLE BUTTON ****/

.rndBtn button {
    /*  background: none;*/
    border: none;
    margin-left: -41px;
    margin-top: 37px;
    height: 45px;
    width: 45px;
}


/*** CHORD SECTION ****/

.chord {
    font-size: 80px;
    text-align: center;
    color: white;
    position: relative;
    padding: 0 0 0 5px;
    right: 5px;
}

.chord .selected {
    background-color: $theme-red;
}

.chord small sub {
    bottom: -15px;
    left: -40px;
}

.chord small sup {
    top: -40px;
    left: -10px;
    min-width: 10px;
    display: inline-block;
}

button.disabled {
    color: $theme-lightgrey;
}


/******* METRONOME SECTION *****/

.red {
    background-color: rgba(252, 52, 60, 0.76);
}

.red-off {
    background-color: rgba(194, 194, 194, 0.10);
}

.divSpeed {
    font-size: 60px;
    text-align: center;
}

.divTempo {
    overflow: hidden;
}

.btnTempo {
    text-align: center;
    height: 100%;
    background-color: green;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.btnMetronome {
    background-color: rgba(194, 194, 194, 0.10);
    border: none;
    color: white;
    height: 100%;
}

.pnlVertCent {
    background-color: $theme-red;
    padding: 50px;
}

#divTempo {
    cursor: pointer;
    /* min-height: 142px;*/
    color: white;
    padding-top: 15px;
}

.tempo {
    margin-top: 40px;
    position: relative;
    display: block;
}

.metrBtn {
    /*background-color: red;*/
    padding: 20px;
}

.metrBtn .btnMetronome {
    width: 100%;
    height: 85px;
}

.met-cnt {
    padding-right: 5px;
    padding-left: 5px;
}

.met-block {
    height: 50px;
    /*border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;*/
}


/***** START BUTTON ******/

#btnStart {
    height: 60px;
}


/***** TEMPO FRAME ******/

.popup-frame {
    background-color: #3A3A3A;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-top: -75px;
    padding: 30px 5px 5px 5px;
    border: 1px solid $theme-lightgrey;
    z-index: 2;
}

.popup-frame .inputSpeed {
    font-size: 70px;
    text-align: right;
}

.popup-frame .btnContainer {
    position: absolute;
    bottom: 12px;
}

.popup-frame.tempo-popup {
    width: 120px;
    margin-left: -60px !important;
}
.popup-frame.delete-popup {
    width: 240px;
    margin-left: -120px !important;
    color: white;
    text-align: center;
}

.large-popup-frame {
    color: white;
    background-color: #3A3A3A;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-top: -75px;
    margin-left: -155px !important;
    padding: 10px 5px 5px 5px;
    width: 310px;
    border: 1px solid $theme-lightgrey;
    z-index: 1;
}

/***** FEEDBACK ******/

.feedback {
    color: white;
    padding-top: 20px;
    font-size: 15px;
}

.feedback label {
    font-size: 18px;
}

.send-fb-link {
    text-align: right;
}

.send-fb-link a {
    color: white;
}

.rating {
    font-size: 18px;
}

.thankyou div.row,
.error-panel {
    text-align: center;
}

.thankyou a {
    color: white;
}

.menu-icon-xs {
    color: white;
    line-height: 61px;
    font-size: 22px;
}

.menu-icon {
    color: white;
    line-height: 66px;
    font-size: 25px;
}

.menu-panel {
    background-color: black;
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    color: white;
    font-size: 18px;
    transition: all linear 0.3s;
}

.menu-panel.ng-hide {
    left: -1000px;
}

.menu-panel header {
    display: block;
    height: 61px;
    line-height: 61px;
}

.menu-panel ul {
    list-style: none;
    padding-right: 30px;
    padding-left: 15px;
}

.menu-panel ul li {
    margin-top: 10px;
    margin-right: 20px;
    line-height: 50px;
    padding-left: 10px;
}

.menu-panel ul li.selected {
    background-color: $theme-red;
}

.menu-panel ul a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-list li{
    cursor: pointer;
}

.big-link {
    width: 100%;
    background-color: $theme-red;
    font-size: 22px;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 15px 0 0 0;
}

.big-link a {
    color: white;
    text-align: center;
}

/****** TRACK SECTION ******/

#trackSelect select {
    width: 100%;
    background-color: $theme-lightgrey;
}

#trackSelect select option {
    background-color: $popup-background;
}

#closeBtn {
    padding-left: 15px;
}

.miniBtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    left: -16px;
    position: relative;
}

.miniBtn i{
    min-height: 20px;
    min-width: 20px;
    display: block;
}

.save-icon {
    font-size: 28px !important;
    color: $theme-white;
}

#trackPnl{
    padding-top: 10px !important;
}

#trackListPnl div.list-element{
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#trackListPnl div.list-element:hover{
    background-color: $theme-lightgrey;
    cursor: pointer;
}

@media screen and (min-width: 420px) {
    .sup {
        font-size: 50%;
        position: absolute;
        top: 0;
        left: 80px;
    }    
}

@media screen and (min-width: 490px) {
    .sup {
        font-size: 50%;
        position: absolute;
        top: 0;
        left: 100px;
    }
}

@media screen and (min-width: 630px) {
    .sup {
        font-size: 50%;
        position: absolute;
        top: 0;
        left: 120px;
    }
}

@media screen and (min-width: 768px) {
    .main-desc {
        margin-top: 10px;
    }
}

@media screen and (max-width: 991px) {
    .main-desc {
    }
}