﻿<div id="home-content">
    <div class="row">
        <div class="col-xs-12 main-logo-container">
            <img src="/assets/img/main-logo.png" height="120" alt="Jamkie">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 main-desc">
            <h1>Free backing tracks for <br class=" hidden-sm"/> your jam session</h1>
            <h2>Develop your improvisation skills over a static chord or create your own chord sequence and play along.</h2>
        </div>
    </div>
    <div class="row" ng-show="loggedIn">
        <div class="col-xs-12">
            <div class="big-link">
                <a href="/static-chord" ng-click="setLocation('staticChord')">static chord</a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="big-link">
                <a class="big-link" href="/chord-progression" ng-click="setLocation('chordProgression')">chord progression</a>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="loggedIn">
        <div class="col-xs-6">
            <div class="big-link">
                <a href="/login" ng-click="setLocation('staticChord')">login</a>
            </div>
            <a href="/register">register</a>
        </div>
        <div class="col-xs-6">
            <div class="big-link">
                <a href="/chord-progression" ng-click="setLocation('chordProgression')">give it a try</a>
            </div>
        </div>
    </div>
</div>
