﻿<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="feedback">
            <div id="fbContainer" ng-hide="hideForm">
                <form name="fbForm" novalidate ng-submit="fbForm.$valid && submit()">
                    <div class="row head-title">
                        <div class="col-xs-12">
                            <h3>Thanks for sharing your thoughts with us</h3>
                            <p> As you can see this is a very early version. New features will be introduced in the near future but, in the meantime, we would like to know what you think and we will appreciate any feedback. This will help us to improve the site and maybe introducing the feature that you are looking for.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>email <span ng-show="!fbForm.email.$valid && (fbForm.email.$touched || fbForm.$submitted)" style="padding-left: 15px" class="error-txt">* invalid email</span></label>
                            <input class="input-text" name="email" type="email" required ng-model="form.email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>overall rating</label>
                            <div class="rating input-text" ng-mouseleave="resetScore()">
                                <span ng-mouseover="setHdnScore(1)" ng-show="hiddenScore < 1" ng-click="setScore(1)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                <span ng-mouseover="setHdnScore(1)" ng-show="hiddenScore >= 1" ng-click="setScore(1)"><i class="fa fa-star" aria-hidden="true"></i></span>

                                <span ng-mouseover="setHdnScore(2)" ng-show="hiddenScore < 2" ng-click="setScore(2)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                <span ng-mouseover="setHdnScore(2)" ng-show="hiddenScore >= 2" ng-click="setScore(2)"><i class="fa fa-star" aria-hidden="true"></i></span>

                                <span ng-mouseover="setHdnScore(3)" ng-show="hiddenScore < 3" ng-click="setScore(3)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                <span ng-mouseover="setHdnScore(3)" ng-show="hiddenScore >= 3" ng-click="setScore(3)"><i class="fa fa-star" aria-hidden="true"></i></span>

                                <span ng-mouseover="setHdnScore(4)" ng-show="hiddenScore < 4" ng-click="setScore(4)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                <span ng-mouseover="setHdnScore(4)" ng-show="hiddenScore >= 4" ng-click="setScore(4)"><i class="fa fa-star" aria-hidden="true"></i></span>

                                <span ng-mouseover="setHdnScore(5)" ng-show="hiddenScore < 5" ng-click="setScore(5)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                <span ng-mouseover="setHdnScore(5)" ng-show="hiddenScore >= 5" ng-click="setScore(5)"><i class="fa fa-star" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>please write your comment below <span ng-show="!fbForm.txtComment.$valid && (fbForm.txtComment.$touched || fbForm.$submitted)" style="padding-left: 15px" class="error-txt">* please write something</span></label>
                            <textarea name="txtComment" class="txtFeedback input-text" ng-model="form.comment" required></textarea>
                        </div>
                    </div>
                    <div class="row padTB5">
                        <div class="col-xs-12">
                            <button class="button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="thankyou" ng-show="hideForm">
                <div id="tyContainer">
                    <div class="row">
                        <div class="col-xs 12">
                            <h1>Thank you!</h1>
                            <a href="/home">go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="loader-frame" ng-show="isLoading">
    <img class="img" height="50" src="../../../assets/img/loader.gif" />
    <div class="txtPnl">
        <div class="txtLbl">Loading...</div>
    </div>
</div>