<div class="popup-frame tempo-popup" ng-show="isChordOpen">
    <div class="row">
        <div class="col-xs-12">
            <select class="bigSelect" ng-model="keySelected" ng-disabled="metronome.position > -1">
                <option ng-repeat="key in keys" value="{{key}}">{{key}}</option>
            </select>
        </div>
        <div class="col-xs-12">
            <select class="bigSelect" ng-model="qualitySelected" ng-disabled="metronome.position > -1">
                <option ng-repeat="quality in qualities" value="{{quality}}">{{quality}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="btnOk col-xs-12">
            <button class="button" ng-click="clickOk()">ok</button>
        </div>
    </div>
</div>