﻿<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="main-panel">
                <form name="loginForm" novalidate ng-submit="loginForm.$valid && submit()">
                    <div class="row head-title">
                        <div class="col-xs-12">
                            <h3>login</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>email address<span ng-show="!loginForm.email.$valid && (loginForm.email.$touched || loginForm.$submitted)" style="padding-left: 15px" class="error-txt">* invalid email</span></label>
                            <input class="input-text" name="email" type="email" required ng-model="form.email" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label>password<span ng-show="!loginForm.password.$valid && (loginForm.password.$touched || loginForm.$submitted)" style="padding-left: 15px" class="error-txt">* invalid password</span></label>
                            <input class="input-text" name="password" required type="password" ng-model="form.password" />
                        </div>
                    </div>
                    <div class="row" ng-show="showError">
                        <div class="col-xs-12">
                            <label><span style="padding-left: 15px" class="error-txt">{{error}}</span></label>
                        </div>
                    </div>
                    <div class="row padTB5">
                        <div class="col-xs-12">
                            <button class="button" type="submit">login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loader-frame" ng-show="isLoading">
    <img class="img" height="50" src="../../../assets/img/loader.gif" />
    <div class="txtPnl">
        <div class="txtLbl">Loading...</div>
    </div>
</div>