﻿<div id="register-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="main-panel" ng-hide="hideForm || showError">
                <form name="regForm" novalidate ng-submit="regForm.$valid && submit()">
                    <div class="row head-title">
                        <div class="col-xs-12">
                            <h3>Register</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>email address<span ng-show="!regForm.email.$valid && (regForm.email.$touched || regForm.$submitted)" style="padding-left: 15px" class="error-txt">* invalid email</span></label>
                            <input class="input-text" name="email" type="email" required ng-model="form.email" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label>password<span ng-show="!regForm.password.$valid && (regForm.password.$touched || regForm.$submitted)" style="padding-left: 15px" class="error-txt">* invalid password</span></label>
                            <input class="input-text" name="password"  ng-minlength="6" required type="password" ng-model="form.password" />
                        </div>
                    </div>
                    <div class="row padTB5">
                        <div class="col-xs-12">
                            <button class="button" type="submit">register</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="thankyou" ng-show="hideForm && !showError">
                <div class="row">
                    <div class="col-xs 12">
                        <h1>thank you!</h1>
                        <h4>you can now login with the credential you just entered.</h4>
                        <p>
                            <a href="/login">login</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="main-panel error-panel" ng-show="showError">
                <div class="row">
                    <div class="col-xs 12">
                        <h1>sorry!</h1>
                        <h4>{{error}}</h4>
                        <p>
                            <a href="/register">register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader-frame" ng-show="isLoading">
    <img class="img" height="50" src="../../../assets/img/loader.gif" />
    <div class="txtPnl">
        <div class="txtLbl">Loading...</div>
    </div>
</div>